__pycache__/
cache/
pretrain/
VOCdevkit2007/
logs/
logs_*/
output/
build/
dist/
checkpoints/
checkpoints_*/
.idea/
*.py[cod]
*.c[cod]
*.so
*.swp
*.pb
*.ckpt
ven/
venv/
.vscode
exs/
src/nets/ocr
data/
src/main/meter_ocr.py
src/main/demo.py
src/main/train.py
run_test.py
dist/
ctpn_text_detector.egg-info/
detect_text.py